@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*========================
     COMMON STYLES 
==========================*/
body {
    font-family: 'Work Sans', sans-serif;
}
.section-title {
    font-weight: 700;
    font-size: 40px;
    color: #131313;    
}
.section-description {
    font-size: 15px;
    color: #727272;
    line-height: 25px;
}
.btn-primary {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 18px;
    padding: 15px 20px;
    border: 0;
    background: #FF900E;
    border-radius: 8px;
}




/*========================
     HEADER STYLES 
==========================*/
.header {
    background: rgba(255, 144, 14, 0.1);
    margin-bottom: 70px;
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
}
.nav-logo {
    margin-top: 50px;
    margin-left: 220px;
}
.nav-logo .logo {
    font-size: 40px;
    font-weight: 700;
    color: #131313;
}
.nav-menu {
    margin-top: 60px;
    margin-right: 240px;
}
.menu ul {
    display: flex;
    gap: 40px;
}
.menu ul li {
    list-style: none;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}
/* Banner Styles */
.banner-container {
    margin-top: 90px;
    margin-left: 420px;
    margin-right: 420px;
}
.banner-title {
    font-weight: 700;
    font-size: 50px;
    color: #131313;
    text-align: center;
    margin-bottom: 25px;
}
.banner-description p {
    text-align: center;
}
.banner-button {
    text-align: center;
    margin-top: 30px;
}
.banner-image img {
    height: 400px;
    margin: 50px 220px;
}


/*========================
     FEATURES SECTION STYLES 
==========================*/
.features {
    margin-bottom: 130px;
}
.features-container {
    display: flex;
    gap: 70px;
    margin: 0 200px;
}
.features-image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}
.features-image-container img {
    height: 250px;
    width: 250px;
}
.features-text-container {
    display: flex;
    align-items: center;
}
.features-text-container p {
    margin: 28px 0;
}
.features-text-info .title-gray {
    color: #727272;
}
.features-text-info .title-orange {
    color: #FF900E;
}


/*========================
     FEATURES LOVING STYLES 
==========================*/
.features-loving {
    margin-bottom: 130px;
}
.features-loving-container {
    display: flex;
    gap: 90px;
    margin: 0 150px;
}
.feature-info-container p {
    margin: 27px 0;
}
.mini-container {
    padding: 15px 25px 15px 25px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-bottom: 15px;
}
.mini-container p {
    margin-top: 10px;
}
.mini-title h4 {
    font-weight: 600;
    font-size: 20px;
    color: #131313;
}

.feature-image img {
    width: 608px;
    height: 782px;
}
.big-btn {
    color: #FFFFFF;
    font-size: 20px;
    background: #FF900E;
    border-radius: 8px;
    padding: 45px 42px;
    border: 0;
    margin-top: -85px;
    margin-left: -40px;
}
.btn-year {
    font-size: 55px;
    font-weight: 700;
}

/*========================
     FACT SECTION STYLES 
==========================*/
.fact {
    margin-bottom: 130px;
}
.fact-info {
    margin-left: 200px;
    margin-bottom: 100px;
}
.fact-info .section-description {
    margin-top: 20px;
    margin-bottom: 80px;
}
.fact-progress-container {
    display: flex;
    justify-content: space-around;
    margin: 0 100px;

}
.fact-progress {
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 30px 25px;
    text-align: center;
}

.fact-count {
    font-weight: 600;
    font-size: 40px;
    color: #424242;
}
.fact-title {
    font-weight: 600;
    font-size: 20px;
    color: #727272;
}

/*========================
     OUR TEAM MEMBERS STYLES 
==========================*/
.members {
    margin-bottom: 120px;
}
.members-info {
    text-align: center;
}
.members-info .section-description {
    margin-top: 20px;
    margin-bottom: 45px;
}
.member-image-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    margin: 0 70px;
}
.member-image-container img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

/*========================
     SPONSOR SECTION STYLES 
==========================*/
.sponsor {
    margin-bottom: 130px;
}
.sponsor-info {
    text-align: center;
}
.sponsor-info .section-description {
    margin-top: 20px;
    margin-bottom: 45px;
}
.sponsor-logo-container {
    margin: 0 200px;
}
.logo {
    display: flex;
    justify-content: space-between;
    gap: 80px;
}
.logo img {
    width: 100px;
    height: 40px;
    filter: grayscale(100%);
}

/*========================
     FOOTER SECTION STYLES 
==========================*/
footer {
    margin-bottom: 150px;
}
.footer {
    margin: 0 200px;
    background: #FFF4E7;
    border-radius: 8px;
    padding: 25px 120px;
}
.footer .section-description {
    text-align: center;
}






/*========================
     COMMON STYLES 
==========================*/


